@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


@keyframes spin-custom {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.animate-spin-custom {
  animation: spin-custom 12s linear infinite;
}

.animate-spin-custom-slow {
  animation: spin-custom 16s linear infinite;
}